.examples-work {
    background-color: $bg-light;
    
    .section__heading {
        font-family: $main-font;
        font-weight: normal;
        margin-bottom: 40px;
    }

    .photo__img {
        height: 260px;
        width: 335px;
        flex-basis: 335px;
        background: no-repeat center;
        background-size: cover;

        @include xsm() {
            width: 260px;
        }
    }

    .photo__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include phone() {
            a {
                margin-right: 0;
            }
        }
    }

    .photo__list {
        max-width: 1040px;
        margin: 0 auto;

        a {
            margin-right: 10px;
            margin-bottom: 10px;

            &:focus {
                outline: none;
            }
        }
    }

    .photo__wrap {
        margin-bottom: 90px;
    }

    .btn__wrap {
        margin-bottom: 30px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        .slick-active {

            button {
                color: $acsent-b;
            }
        }

        li {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }

        button {
            border: none;
            background-color: transparent;
            font-size: $ts-sh;
            color: $text-color_main;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.3s background-color;

            &:hover {
                background-color: #ebebeb;
            }
        }
    }

    .text {
        text-align: center;
        color: $text-color_main;
        margin-bottom: 30px;
    }
}

.page-examples-work {
    .mfp-bg {
        background-color: rgba(#000, 0.3);
    }

    .mfp-figure {
        border: 20px solid #fff;
    }

    img.mfp-img {
        padding: 0;
    }

    .mfp-close {
        height: 20px;
        line-height: 20px;
        font-size: 24px;
    }

    .mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
        width: initial;
        right: 3px;
        top: 3px;
        color: #000;
        padding: 0;
        cursor: pointer;
    }
}