.hero {
    padding: 50px 0;
    background-color: #efefef;

    .heading__wrapper {
        margin-bottom: 35px;
    }

    .list {
        justify-content: space-between;
    }

    .list__item {
        position: relative;
        width: 334px;
    }

    &-item {
        position: relative;
        width: 334px;
        margin-bottom: 50px;
        transition: 0.3s transform, 0.3s box-shadow;
        cursor: pointer;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 3px 3px 0 rgba(#000, 0.5);
        }

        &__img {
            height: 300px;
            width: 100%;
            background: url('../img/hero/item-1.jpg') no-repeat center;
            background-size: cover;
            border-radius: 5px 5px 0 0;
        }

        &__btn {
            display: block;
            background-color: $acsent-g;
            text-align: center;
            padding: 15px;
            border-radius: 0 0 5px 5px;
            text-transform: uppercase;
            font-family: $LatoB;
            font-size: $ts-sh;
        }

        &__coast {
            position: absolute;
            top: 30px;
            left: -13px;
            color: $acsent-b;
            width: 174px;
            height: 98px;
            background: url('../img/hero/item-shape.png') no-repeat center;
            background-size: contain;
            color: #fff;
            padding: 10px 25px;
            line-height: 1.3;
            font-size: $ts-medium;
            font-family: $LatoM;
        }
    }

    .text {
        text-align: center;
        color: #2b2a28;
        font-size: $ts-sh;
        margin-bottom: 25px;

        &__wrapper {
            margin-bottom: 20px;
        }
    }

    .btn__wrapper {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }


}