.slider-index {
    position: relative;
    padding: 0 50px;
    .slider-index {
        width: 195px;
        height: 210px;
        margin-right: 10px;
        background: no-repeat center;
        background-size: contain;
    }

    .slider-index:nth-child(1) {
        background-image: url('../img/opinions/slider-1.jpg');
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        font-size: 0;
        width: 35px;
        height: 55px;
        border: none;
        // background: no-repeat center;
        background-size: contain;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}