include common/_mixins
block variables

doctype html
html(lang="ru-RU")
  include common/_generals

  body(class= pageClass)
      +header('./services/', './pages/', nav)
      
      //- основной контент
      block content

      include ./common/_footer