.slider.slider-index
    div
        .slider-index 
    div
        .slider-index  
    div
        .slider-index 
    div
        .slider-index 
    div
        .slider-index 
    div
        .slider-index 
    div
        .slider-index