section.section.about
    .container
        .heading__wrap
            h2.section__heading 
                | Уборка квартир после ремонта в Яросавле
            .list__wrap
                ul.opinions__list.list
                    li.list__item
                        p Услуги клининговой компании – идеальная чистота в короткие сроки. Обращаться в клининговую компанию рекомендуют во множестве случаев: Вам необходимо быстро привести в порядок дом или офис, окна и витрины нуждаются в мойке, возникла потребность в химчистке, после ремонта нужно убрать его следы, пришло время уборки грандиозного масштаба.
                        br
                        p Профессиональная уборка предполагает, что выполнять работу будут одновременно от 1 до 20 опытных клинеров, которые работают в данной области не менее 2 лет.
                    li.list__item
                        p Клининговая компания Вершина Cleaning - коротко о нас
                        p На рынке услуг по обеспечению чистоты в офисе, квартире, коттедже, наша компания работает с 2010 года. Особенности нашего сервиса – это:
                        br
                        p  - Гибкая система ценообразования.
                        p  - Исправная профессиональная техника, которая задействована в процессе.
                        p  - Применение специальных средств от лучших мировых производителей.
                .list__trigger
                    ul.opinions__list.list.list--hidden
                        li.list__item
                            p Услуги клининговой компании – идеальная чистота в короткие сроки. Обращаться в клининговую компанию рекомендуют во множестве случаев: Вам необходимо быстро привести в порядок дом или офис, окна и витрины нуждаются в мойке, возникла потребность в химчистке, после ремонта нужно убрать его следы, пришло время уборки грандиозного масштаба.
                            br
                            p Профессиональная уборка предполагает, что выполнять работу будут одновременно от 1 до 20 опытных клинеров, которые работают в данной области не менее 2 лет.
                        li.list__item
                            p Клининговая компания Вершина Cleaning - коротко о нас
                            p На рынке услуг по обеспечению чистоты в офисе, квартире, коттедже, наша компания работает с 2010 года. Особенности нашего сервиса – это:
                            br
                            p  - Гибкая система ценообразования.
                            p  - Исправная профессиональная техника, которая задействована в процессе.
                            p  - Применение специальных средств от лучших мировых производителей.
                .btn__wrap.btn__wrap--center
                    a(href="#" data-btn-text="Развернуть").btn.btn--blue.btn__trigger Развернуть