footer.footer
    .container
        .footer__left
            .footer__col
                h3.list__title Информация 
                ul.list.list-v
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Вопрос-ответ
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Примеры работ
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Отзывы
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Статьи
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Карта сайта
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Контакты
            .footer__col
                h3.list__title Убока
                ul.list.list-v
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Вопрос-ответ
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Примеры работ
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Отзывы
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Статьи
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Карта сайта
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Контакты
            .footer__col
                h3.list__title Лополнитеьные услуги 
                ul.list.list-v
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Вопрос-ответ
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Примеры работ
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Отзывы
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Статьи
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Карта сайта
                    li.list__item
                        a(href="#").list__link
                            .icon.icon-rectangle
                            span Контакты
        .footer__right 
            .footer__right-addres
                span.icon.icon--phone
                span г. Ярославль, ул. Республиканская, 8 
            a(href="tel:+74852608591").phone +7 (4852) 60-85-91
            .btn__wrap
                a(href="#").btn.btn--blue Заказать звонок
        .politic
            a(href="./politic.html") Политика конфеденциальности
            p &#169;2017 Вершина кининг
