- 
    var navs = {
            "navLeft": {
                "./services/appartments-cleaning.html" : "Уборка квартир",
                "./services/homes-cleaning.html" : "Уборка домов",
                "./services/offices-cleaning.html" : "Уборка офисов",
                "./services/general-cleaning.html" : "Генеральная уборка",
                "./services/cleaning-after-repair.html" : "Уборка после ремонта",
                "./services/windows-washing.html" : "Мойка окон",
                "./services/dry-cleaning-semi-carpet.html" : "Химчистка ковролина",
                "./services/dry-cleaning-soft-furniture.html" : "Химчистка мягкой мебели",
                "./services/dry-cleaning-carpet.html" : "Химчистка ковров",
            },
            "navRight": {
                "./pages/examples-work.html" : "Примеры работ",
                "./pages/calculator.html" : "Калькулятор",
                "./pages/contacts.html" : "Контакты",
                "./pages/articles.html" : "Статьи",
                "./pages/opinions.html" : "Отзывы",
                "./pages/ask-answer.html" : "Вопрос-ответ",
            }
        }

header.header
    .nav__wrapper.nav__wrapper--bg
        .container
            nav
                .nav.nav--left.nav__trigger
                    .nav__label
                        span Услуги и цены
                        a.nav-burger.no-animation(href="javascript:void(0)")
                            span
                            span
                            span
                    ul.nav__list.nav__list-trigger
                        each title, href in navs.navLeft
                            li.nav__item
                                a(href=href).nav__link=title
                .nav.nav--right
                    ul.nav__list
                        each title, href in navs.navRight
                            li.nav__item
                                a(href=href).nav__link=title
                    .link-map
                        span.icon.icon-baloon
                        a(href="javascript:void(0)").underline г. Ярославль
                    .header__contacts.laptop-trigger
                        .header__contacts-wrapper
                            a(href="javascript:void(0)").call-us Заказать звонок
                        .header__contacts-wrapper
                            span.icon.icon--phone 121
                            a(href="tel:+7(4852) 60-85-91").phone +7 (4852) 60-85-91
    .container
        .header__bottom
            div(title="Everest-clining").logo-brand.icon.icon-logo
            .header__services
                .header__services-item
                    span.icon.icon-wallet
                    a(href="javascript:void(0)").coast-cleaning.underline Рассчитать стоимость уборки
                .header__services-item
                    span.icon.icon-man
                    a(href="javascript:void(0)").call-free.underline Заказать бесплатный звонок
            .header__contacts
                .header__contacts-wrapper
                    a(href="javascript:void(0)").call-us Заказать звонок
                .header__contacts-wrapper
                    a(href="tel:+7(4852) 60-85-91").phone +7 (4852) 60-85-91
                .header__contacts-wrapper
                    span.work-time Работаем ежедневно с 9.00 до 22.00  

