.footer {
    padding: 30px 0;
    border-top: 1px solid $grey;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    &__left {
        display: flex;
        width: 67%;
        justify-content: space-between;
        color: $acsent-b;
        padding: 0 30px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 33%;
        padding-left: 20px;
        border-left: 1px solid $grey;
        text-align: right;
    }

    .list__item {
        margin-bottom: 20px;
        font-family: $LatoM;
        font-weight: bold;
    }
    .list__link {
        display: flex;
        align-items: center;
        color: $text-dark;
        font-size: 1.7rem;
    }

    .list__title {
        font-size: $ts-sh;
        margin-bottom: 20px;
    }

    .footer__right-addres {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 5px;
        font-size: 1.7rem;
    }

    .phone {
        font-family: $LatoB;
        font-weight: bold;
        display: block;
        color: $text-dark;
        font-size: 26px;
        margin-bottom: 25px;
    }

    .btn__wrap {
        max-width: 210px;
        margin-left: auto;
        text-transform: uppercase;
        margin-bottom: auto;
    }

    .btn {
        padding: 15px;
        font-size: $ts-normal;
    }
}

.icon--phone {
    width: 35px;
    height: 35px;
    background-image: url('../img/icons/phone.png');
}

.politic {
    width: 100%;
    text-align: right;
    padding-top: 30px;
    a {
        display: inline-block;
        color: $text-dark;
        text-decoration: underline;
        margin-bottom: 5px;
    }
}