.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-v {
        flex-direction: column;
    }
    
    &__dot {
        display: block;
        width: 5px;
        height: 5px;
        min-width: 5px;
        min-height: 5px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 6px;

        &--green {
            background-color: $acsent-g;
        }
    }
}