nav {
    display: flex;
    color: #fff;
}

.nav {
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 30px;

    &__list {
        position: relative;
        z-index: 101;
    }

    &__wrapper {
        position: relative;
        z-index: 10;

        .container {
            @include laptop() {
                padding: 0;
            }
        }
    }

    &__overlay {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(#000, 0.5);
    }

    &--left {
        position: relative;
        width: 230px;
        min-width: 230px;
        background-color: $acsent-g;
        cursor: pointer;

        @include laptop() {
            width: initial;
            min-width: unset;
        }

        .nav__list {
            padding: 10px;

            &.laptop-trigger {
                display: none;
                background-color: $acsent-b;
                padding-left: 0;
                padding-right: 0;

                @include laptop() {
                    display: block;
                }

                .nav__item {
                    border-bottom: $acsent-b;
                    padding: 0 10px;
                }

                .nav__link {
                    color: #fff;

                    &:hover {
                        background-color: darken($acsent-b, 10%);
                    }
                }
            }

            &--left {
                display: block;
                background-color: #fff;
            }

            @include laptop() {
                display: block;
            }

            &-wrap {
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                display: none;
                z-index: 2;
                background-color: #fff;

                @include laptop() {
                    width: 220px;
                    min-width: 220px;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 50px;

                    &:after {
                        position: absolute;

                    }
                }
            }

            .nav__item {
                border-bottom: 1px solid $grey;

                &:last-child {
                    border-bottom-color: transparent;
                }
    
                &--blue {
                    background-color: $acsent-b;
                }
            }
        }



        .nav__link {
            display: block;
            padding: 15px 10px;
            color: $text-dark;
            transition: 0.3s background-color;
            user-select: none;

            &:hover {
                text-decoration: none;
                background-color: darken(#fff, 10%);
            }

            &.active {
                text-decoration: none;
                background-color: darken(#fff, 20%);
                color: #fff;

                &:hover {
                    cursor: initial;
                }
            }
        }
    }

    &--right {
        flex: 1;
        background-color: $acsent-b;

        @include desktop() {
            padding-right: 0px;
            padding-left: 10px;
        }

        @include laptop() {
            padding-right: 20px;
            padding-left: 30px;
        }

        @include phone() {
            padding-right: 10px;
            padding-left: 10px;
        }

        .nav__list {
            justify-content: flex-start;
            align-items: center;
        }

        .nav__item {
            margin-right: 15px;

            @include desktop() {
                margin-right: 10px;
            }
        }

        .nav__link {
            font-size: 1.4rem;
            min-height: 60px;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;;
                background-color: #fff;
                bottom: -5px;
                transform: scale(0);
                transition: 0.3s transform;
            }
    
            &:hover {
                &:after {
                    transform: scale(1);
                }
            }
        }
    }

    &__wrapper {
        position: relative;

        &--bg {
            &:after,
            &:before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
            }

            &:after {
                background-color: $acsent-g;
                width: 26.3%;
                left: 0;
            }
            &:before {
                background-color: $acsent-b;
                width: 73.7%;
                right: 0;
            }
        } 
    }

    &__label {
        text-transform: uppercase;
    }

    &__list {
        display: flex;
    }
}

.link-map {
    display: flex;
    margin-left: auto;

    &.phone-trigger {
        display: none;

        @include phone() {
            display: flex;
            justify-content: center;
            padding: 30px 10px;
            font-size: 16px;
        }
    }

    @include phone() {
        width: 100%;
    }

    span {
        display: block;
        min-width: 10px;
        min-height: 15px;
        margin-right: 10px;
        background: url('../img/icons/baloon.png') no-repeat center;
        background-size: contain;
    }

    a {
        font-family: $LatoL;
        border-bottom: 1px dashed #fff;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}