// fonts
$main-font: "LatoR", sans-serif;
$LatoL: "LatoL", sans-serif;
$LatoM: "LatoM", sans-serif;
$LatoB: "LatoB", sans-serif;
$PTSR: "PTSansR", sans-serif;
$PTSB: "PTSansB", sans-serif;

// text-size
$ts-mh: 3.5rem;
$ts-sh: 1.8rem;

$ts-small: 1.4rem;
$ts-main: 1.5rem;
$ts-normal: 1.6rem;
$ts-medium: 2.4rem;

// colors
$acsent-g: #99cc33;
$acsent-b: #12a7c8;
$white: #fff;
$text-dark: #2b2a28;
$black: #000;
$grey: #efefef;

// bg colors
$header-bg: #1f1f1f; 
$bg-light: #efefef; 

// text-color
$text-color_main: #474b57;