section.section.articles
    .container
        .heading__wrap
            h2.section__heading.section__heading--blue
                | Статьи
        .articles__wrap.slider__wrap
            ul.articles__list.slider__list
