section.section.ask-answer
    .container
        .heading__wrap
            h2.section__heading
                | Вопрос-ответ
        .content__wrap
            .accordion
                .accordion__item
                    h3.section__subheading.accordion__title Как расчитать стоимость уборки?
                    p.accordion__content.active - Вы можете воспользоваться нашим 
                        a(href="#") калькулятором услуг
                        | , или позвонить по номеру 
                        a(href="#") +7 4852 900 900 
                        | наш менеджер озвучит вам точную стоимость уборки вашей квартиры, офиса или дома.
                .accordion__item
                    h3.section__subheading.accordion__title Сколько времени длится уборка?
                    p.accordion__content - Вы можете воспользоваться нашим 
                        a(href="#") калькулятором услуг
                        | , или позвонить по номеру 
                        a(href="#") +7 4852 900 900 
                        | наш менеджер озвучит вам точную стоимость уборки вашей квартиры, офиса или дома.
                .accordion__item
                    h3.section__subheading.accordion__title Работаете ли вы в выходные и праздничные дни?
                    p.accordion__content - Вы можете воспользоваться нашим 
                        a(href="#") калькулятором услуг
                        | , или позвонить по номеру 
                        a(href="#") +7 4852 900 900 
                        | наш менеджер озвучит вам точную стоимость уборки вашей квартиры, офиса или дома.
        .btn__wrap--center
            .btn.btn--green Задайте свой вопрос

