section.section.section--grey.call-now
    .container
        .heading__wrap.align-center
            h2.text.text--big Позвоните сейчас и узнайте стоимость уборки вашей квартиры        
        .btn__wrap--center
            a(href="javascript:void(0)").btn.btn--green Оставить заявку