section.section.contacts
    .container
        .content__wrap.align-center
            h2.section__heading.section__heading--blue
                | Контакты
            h3.section__subheading Клининговая компания «Вершина Cleaning»
            .text
                p 
                    | Мы работаем ежедневно, в выходные и праздничные дни. 
                    br
                    | Прием заказов осуществляется с 09:00 до 22:00

                p.text__addres Адрес: г. Ярославль, ул. Республиканска, 8, офис 342

                p.text__phone Телефоны: +7 (4852) 60-85-91

