section.section.examples-work
    .container
        .heading__wrap
            h2.section__heading.section__heading--blue
                | Примеры работ
            .photo__wrap
                ul.photo__list
            p.text ОСТАВЬТЕ ЗАЯВКУ И ПОЛУЧИТЕ КОНСУЛЬТАЦИЮ ПО УБОРКЕ ВАШЕЙ КВАРТИРЫ
        .btn__wrap.btn__wrap--center
            a.btn.btn--green Оставить заявку
