section.section.hero-cleaning.hero-cleaning--appartments
    img(src="../assets/img/services/appartments-cleaning-bg.jpg").hero-cleaning__bg
    .container
        .heading__wrap.align-center
            h1.main-heading.main-heading--white.heading-bg.heading-bg--blue.inline-block
                span Професстонаьная уборка квартир
        .hero-cleaning__descr-wrap.align-center
            h4.hero-cleaning__descr.heading-bg.heading-bg--black.inline-block
                span 
                    | Проведем уборку по ГОСТу экологичными средствами за 6 часов.
                    br
                    | Гарантия чистоты 100%! 
        .btn__wrap--center
            a(href="javascript:void(0)").btn.btn--green Оставить заявку
