section.section.hero
    .container
        .heading__wrapper
            h1.main-heading
                | УБОРКА КВАРТИР И КОТЕДЖЕЙ
                br
                | В ЯРОСЛАВЛЕ И ЯРОСЛАВСКОЙ ОБЛАСТИ
        ul.hero__list.list
            li.list__item
                .hero-item
                    .hero-item__coast 
                        | Квартира
                        br
                        | от 59р/м
                        sup
                            | 2
                    .hero-item__img
                    a(href="#").btn.hero-item__btn Подробнее
            li.list__item
                .hero-item
                    .hero-item__coast 
                        | Квартира
                        br
                        | от 59р/м
                        sup
                            | 2
                    .hero-item__img
                    a(href="#").btn.hero-item__btn Подробнее
            li.list__item
                .hero-item
                    .hero-item__coast 
                        | Квартира
                        br
                        | от 59р/м
                        sup
                            | 2
                    .hero-item__img
                    a(href="#").btn.hero-item__btn Подробнее
        .text__wrapper
            p.text Позвоните нам и уже через 4 часа ваша квартира будет чистой
        .btn__wrap--center
            a.btn.btn--green Оставить заявку