section.section.numbers
    .container
        ul.list.numbers__list
            li.list__item
                .numbers__item
                    span.numbers__item-number 7
                    span.numbers__item-descr 
                        | лет опыта работы
                        br
                        | в клининге
            li.list__item
                .numbers__item
                    span.numbers__item-number 2500
                    span.numbers__item-descr 
                        | постоянных
                        br
                        | клиентов
            li.list__item
                .numbers__item
                    span.numbers__item-number 18
                    span.numbers__item-descr 
                        | квалифицированных
                        br
                        | мобильных бригад
            li.list__item
                .numbers__item
                    span.numbers__item-number 12300
                    span.numbers__item-descr 
                        | чистых
                        br
                        | помещений