-
    var whatIn = {
        "1" : {
            "title" : "Уборка стандартная",
            "position" : "left",
            "content" : {
                "1" : {
                    "title" : "В комнатах и коридоре",
                    "content" : {
                        "1" : "- Аккуратно заправим кровать в спальне",
                        "2" : "- Пылесосим полы",
                        "3" : "- Выполним влажную уборку полов",
                        "4" : "- Протрем плинтуса",
                        "5" : "- Удаляем пыль со всех доступных мест",
                        "6" : "- Протираем подоконники",
                        "7" : "- Моем зеркала и другие стеклянные поверхности (кроме окон)",
                        "8" : "- Убираем мусор с пола",
                        "9" : "- Протираем светильники",
                    }
                },
                "2" : {
                    "title" : "В ванной комнате:",
                    "content" : {
                        "1" : "- Моем и дезинфицируем сантехнику",
                        "2" : "- Выполняем мойку ванной или душевой кабины, унитаза, раковины",
                        "3" : "- Моем фурнитуру и краны",
                        "4" : "- Моем и дезинфицируем пол",
                        "5" : "- Моем зеркала",
                        "6" : "- Чистим светильники",
                    }
                },
                "3" : {
                    "title" : "На кухне:",
                    "content" : {
                        "1" : "- Чистим и обезжириваем кухонную плиту снаружи",
                        "2" : "- Пылесосим и моем пол кухни",
                        "3" : "- Моем холодильник и плиту снаружи",
                        "4" : "- Протираем кухонные поверхности",
                        "5" : "- Моем всю кухонную технику",
                        "6" : "- Убираем загрязнения со всех зеркальных и стеклянных поверхностей",
                        "7" : "- Моем светильники",
                        "8" : "- Выносим мусор",
                    }
                }
            }
        },
        "2" : {
            "title" : "Генеральная уборка",
            "position" : "middle",
            "content" : {
                "1" : {
                    "title" : "В комнатах и коридоре:",
                    "content" : {
                        "1" : "- Уборка пылесосом полов и плинтусов",
                        "2" : "- Пылесосим всю мебель",
                        "3" : "- Удаляем пыль со стен",
                        "4" : "- Выполняем мойку полов",
                        "5" : "- Моем плинтуса",
                        "6" : "- Отодвигаем легкую мебель и моем за ней",
                        "7" : "- Удаляем грязь и пыль со всех поверхностей мебели",
                        "8" : "- Моем и протираем светильники (кроме люстр)",
                        "9" : "- Моем подоконники",
                        "10" : "- Моем радиаторы и трубы отопления",
                        "11" : "- Протираем дверные проемы, фурнитуру дверех",
                        "12" : "- Чистим и натираем межкомнатные двери",
                        "13" : "- Моем зеркала и стеклянные поверхности",
                        "14" : "- Протираем столы, стулья, фурнитуру кресел и мебели",
                        "15" : "- Удаляем пыль с ваз, рам картин и пр.)",
                        "16" : "- Протираем поверхности внутри шкафов и другой мебели (если они пустые, личные вещи не трогаем)",
                        "17" : "- Удаляем пыль со всей аудио-видео техники",
                        "18" : "- Собираем мусор находящийся на полу",
                        "19" : "- Протираем полки, если на них пусто",
                    }
                },
                "2" : {
                    "title" : "В ванной комнате:",
                    "content" : {
                        "1" : "- Моем и дезинфицируем сантехнику",
                        "2" : "- Отмываем ванную или душевую кабину, унитаз, раковину",
                        "3" : "- Чистим фурнитуру и краны",
                        "4" : "- Выполняем мойку и дезинфекцию пола",
                        "5" : "- Моем и натираем зеркала до блеска",
                        "6" : "- Помоем светильники",
                        "7" : "- Вымоем плитку и стены от пола до потолка",
                        "8" : "- Все поверхности шкафчиков и полочек будут вымыты",
                        "9" : "- Удаляем налет и водный камень с сантехники",
                    }
                },
                "3" : {
                    "title" : "На кухне:",
                    "content" : {
                        "1" : "- Чистим и обезжириваем кухонную плиту снаружи",
                        "2" : "- Моем холодильник и плиту снаружи",
                        "3" : "- Моем и натираем стены от пола до потолка",
                        "4" : "- Протираем кухонные поверхности",
                        "5" : "- Удаляем пыль со всей кухонной техники",
                        "6" : "- Чистим стены и кухонный гарнитур от жировых отложений",
                        "7" : "- Моем все зеркальные и стеклянные поверхности",
                        "8" : "- Убираем пыль и грязь внутри пустых шкафов",
                        "9" : "- Чистим светильники",
                        "10" :"- Выполним влажную уборку полов",
                        "11" : "- Вынесем мусор",
                    }
                }
            }
        },
        "3" : {
            "title" : "Уборка после ремогта",
            "position" : "right",
            "content" : {
                "1" : {
                    "title" : "В комнатах и коридоре:",
                    "content" : {
                        "1" : "- Производим удаление пыли после ремонта стен, полов, потолка, мебели и фурнитуры",
                        "2" : "- Моем полы спец. средствами после ремонта",
                        "3" : "- Удаляем следы ремонта в виде капель краски, строительного скотча и штукатурки",
                        "4" : "- Удаляем пыль пылесосом с полов и плинтусов",
                        "5" : "- Удаляем пыль пылесосом с мебели",
                        "6" : "- Удаляем пыль со стен",
                        "7" : "- Моем полы и плинтуса",
                        "8" : "- Отодвигаем легкую мебель и убираем за ней",
                        "9" : "- Удаляем пыль и грязь со всех поверхностей мебели",
                        "10" : "- Натираем светильники (кроме люстр)",
                        "11" : "- Моем подоконники",
                        "12" : "- Моем радиаторы и трубы",
                        "13" : "- Моем дверные проемы, фурнитуру в дверях",
                        "14" : "- натираем межкомнатные двери",
                        "15" : "- Выполняем мойку зеркал и стеклянных поверхностей",
                        "16" : "- Протираем столы, стулья",
                        "17" : "- Удаляем пыль с ваз, рам, картин и.т.д.",
                        "18" : "- Моем и натираем поверхности внутри шкафов и дугой мебели (если в них пусто)",
                        "19" : "- Удаляем пыль со всей аудио-видео техники",
                        "20" : "- Собираем мусор находящийся на полу",
                        "21" : "- Удаляем пыли с полок, при условии что там пусто",
                    }
                },
                "2" : {
                    "title" : "В ванной комнате:",
                    "content" : {
                        "1" : "- Удаляем пыль после ремонта со стен, полов, потолка, мебели",
                        "2" : "- Моем полы спец. средствами после ремонта",
                        "3" : "- Удаляем следы ремонта в виде краски, строительного скотча и штукатурки",
                        "4" : "- Моем и дезинфицируем сантехнику,",
                        "5" : "- Чистим ванную или душевую кабину, унитаз, раковину",
                        "6" : "- Моем всю фурнитуру и краны",
                        "7" : "- Выполняем мойку и дезинфекцию пола",
                        "8" : "- Натираем зеркала до блеска",
                        "9" : "- Удаляем загрязнения со светильников",
                        "10" : "- Моем всю плитку и стены",
                        "11" : "- Убираем внутренние поверхности шкафов и полок",
                        "12" : "- Удаляем налет и водный камень с сантехники",
                    }
                },
                "3" : {
                    "title" : "На кухне:",
                    "content" : {
                        "1" : "- Производим удаление пыли после ремонта стен, полов, потолка, мебели и фурнитуры",
                        "2" : "- Моем полы спец. средствами после ремонта",
                        "3" : "- Удаляем следы ремонта в виде капель краски, строительного скотча и штукатурки",
                        "4" : "- Моем кухонную плиту снаружи",
                        "5" : "- Удаляем пыль с холодильника и духового шкафа снаружи",
                        "6" : "- Моем и протираем стены",
                        "7" : "- Протираем кухонные поверхности и технику",
                        "8" : "- Моем все зеркальные и стеклянные поверхности",
                        "9" : "- Убираем пыль и грязь внутри шкафов, при условии что в них пусто",
                        "10" : "- Помоем светильники",
                        "11" : "- Выносим мусор",
                    }
                }
            }
        }
    }

section.section.what-in.laptop-trigger-hide
    .container
        .heading__wrap
            h2.section__heading.section__heading--dark 
                | Что входит в уборку
        .what-in__content
            each column in whatIn
                div(class=`what-in__column--${column.position}`).what-in__column
                    .what-in__title-wrap
                        h4.what-in__title= column.title
                    each list in column.content
                        .what-in__subtitle-wrap
                            h4.what-in__subtitle= list.title
                        ul.list
                            each text in list.content
                                li.list__item
                                    span= text
