extends ../_template-second

block variables
  - var title = 'Контакты'
  - var foundation_js= '../assets/js/foundation.js' 
  - var app_js= '../assets/js/app.js' 
  - var app_css= '../assets/css/app.css' 
  - var foundation_css= '../assets/css/foundation.css' 

block content
  include ../common/sections/_contacts
  include ../common/sections/_numbers