extends ../_template-second

block variables
  - var title = 'Примеры работ'
  - var foundation_js= '../assets/js/foundation.js' 
  - var app_js= '../assets/js/app.js' 
  - var customScript= '../assets/js/examples-work/index.js' 
  - var app_css= '../assets/css/app.css' 
  - var foundation_css= '../assets/css/foundation.css' 

block content
  include ../common/sections/_examples-work
  include ../common/sections/_numbers